*{
            
    margin: 0px;
    padding: 0px;
    font-family: "微软雅黑";
}
/* 页面盒子 */
#box{
    width: 960px;
    margin:0 auto;
}
/* 头部字体颜色 */
#header{
    color: white;
}
/* 头部背景svg*/
#headerbgi{
    position:absolute;
    z-index:-1
}
/* 头部信息 */
.hmess{
    display: flex;
    height: 250px;
}
/* 文字描述 */
.wzms{
   
    padding-left: 80px;
}
/* 名字 */
.name{
font-size: 50px;
padding-top:60px;
}
/* 个人信息 */
.info { 
    padding-top:40px; 
}
 .info li{
 display:inline;
 display:inline-block;
 font-size: 23px;
 padding-right: 20px;
}
.info li:nth-child(odd){
    padding-right: 2px;
}
/* 证件照盒子div */
#photoarea{
   width: 20%;
   padding-top:40px;
   padding-left:15px;
}
#photobox{
 width: 114.3px;
 height: 160px;
 overflow: hidden;

 background-color: white;
 color:black;
}
/* 证件照图片 */
.photo{
    width: 114.3px;
    height: 167.47px;
  
}
/* 表格：教育背景、实践经历、项目经历 */
#edub td,#workexp td ,#progexp td{
    padding:8px;
    padding-right: 30px;
    font-size: 20px;
    color: rgb(1,97,105);
    position: relative;
    left: 102px;
    font-weight: 700; 
} 
/* 段落：教育背景、项目经历 */
#edub p,#progexp p{
    font-size: 20px; 
    font-weight: 600;
    position: relative;
    left: 112px;
    width:730px;
}
/* 列表：实践经历、工作技能、项目经历 */
#workexp li,#skills li,#progexp li{
    font-size: 18px; 
    position: relative;
    left: 135px;
    width:720px;
    padding-top: 8px;
}
/* 表格：奖项荣誉 */
#awards td{
    padding: 8px;
    padding-right: 30px;
    font-size: 18px;
    position: relative;
    left: 112px;
    color: black;
}
/* echarts:教育背景、工作技能 */
#eduech,#skiech{
    width: 683px;
    height:304.5px;
    padding: 15px;
    margin:0 auto;
}

/* 文字云：教育背景 */
#eduech img{
    width: 683px;
    height:304.5px;
    border-radius: 10px;
}

svg text{
    font-family: "微软雅黑";
    font-size: 24px;
    font-weight:700;
}
/* screen only 动画 */
/* #arrowdowne,#arrowdown{
    animation: godown 1s linear infinite;
}
s#arrowupe,#arrowups{
    animation: goup 1s linear infinite;
}
@keyframes goup{
    from{
        transform: translate(0,0);
    }
    to{
        transform: translate(0,-5px);
} }
@keyframes godown{
    from{
        transform: translate(0,0);
    }
    to{
        transform: translate(0,5px);
} } */

/*鼠标经过暂停动画 */
/* #arrowdowne:hover,#arrowupe:hover,#arrowdowns:hover,#arrowups:hover{
    
     animation-play-state:paused;

}  */


